
.users {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;

}
.users li {
    position: relative;
    cursor: pointer;
    background-color: #EEE;
    padding: 0;
    border-radius: 4px;
    width: 30em;
    margin: 10px auto;
}

.users li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}

.users a {
    color: #888;
    text-decoration: none;
    position: relative;
    display: block;
    width: 250px;
}

.users a:hover {
    color:#607D8B;
}


button {
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
}

button:hover {
    background-color: #369;
    color: white;
}

button.delete {
    position: relative;
    left: 194px;
    top: -32px;
    background-color: gray !important;
    color: white;
}

.user-image {
    background-size: cover;
    height: 70px;
    width: 70px;
}

mat-grid-tile {
    background: transparent;
}

.no-margin-bottom {
    margin-bottom: 0px;
}

.user-info {
    margin-top: 19px;
}

.mat-card-header-text {
    margin: 0 20px;
}

.action-buttons{
    display: grid;
    width: 43%;
    position: relative;
    float: right;
    margin-top: -68px;
}

.margin-bottom-update {
    margin-bottom: 5px;
}

@media screen and ( max-width: 640px ){
    .users li {
        width: 19em;
    }
    .user-info{
        word-wrap: break-word;
        width: 80%; 
        margin-top: 12px;  
    }
    .user-image{
        margin-top: 5px;
    }
}

