<h2>Users List</h2>
<ul class="users">
    <li *ngFor="let user of users">
        <mat-card class="">
            <mat-card-header>
                <div mat-card-avatar [style.background-image]="'url('+user.avatar+')'" class="user-image"></div>
                <mat-card-title class="user-info">{{user.first_name | uppercase}} {{user.last_name | uppercase}}</mat-card-title>
                <mat-card-subtitle class="no-margin-bottom">ID:{{user.id}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions class="action-buttons">
                <button mat-raised-button (click)="redirect(user.id)" class="margin-bottom-update">UPDATE</button>
                <button mat-button (click)="delete(user)">DELETE</button>
            </mat-card-actions>
        </mat-card>
    </li>
</ul>

