


	<div id="content" class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
				<div class="well no-padding">
					<form class="smart-form client-form">
						<header>
							Sign In
						</header>
						<fieldset>
							<section>
								<label class="label">E-mail</label>
								<label class="input"> <i class="icon-append fa fa-user"></i>
									<input type="email" name="email" data-smart-validate-input="" data-required="" data-email="" data-message-required="Please enter your email address" data-message-email="Please enter a VALID email address">
									<b class="bg-message-color tooltip tooltip-top-right">
										Please enter email address/username</b></label>
							</section>
							<section>
								<label class="label">Password</label>
								<label class="input"> <i class="icon-append fa fa-lock"></i>
									<input type="password" name="password" data-smart-validate-input="" data-required="" data-minlength="3" data-maxnlength="20" data-message="Please enter your email password">
									<b class=" bg-message-color tooltip tooltip-top-right"> Enter
										your password</b> </label>

								<div class="note">
									<a routerLink="/auth/forgot-password">Forgot password?</a>
								</div>
							</section>
							<section>
								<label class="checkbox">
									<input type="checkbox" name="remember" checked>
									<i></i>Stay signed in</label>
							</section>
						</fieldset>
						<footer>
							<button (click)="login($event)" class="btn btn-primary">
								Sign in
							</button>
						</footer>
					</form>
				</div>
				<h5 class="text-center"> - Or sign in using -</h5>
				<ul class="list-inline text-center">
					<li>
						<a (click)="(null)" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
					</li>
					<li>
						<a (click)="(null)" class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
					</li>
					<li>
						<a (click)="(null)" class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</div>

