<div *ngIf="user" class="update">
    <mat-card class="card">
        <mat-card-header>
			<mat-card-title class="user-info">{{user.first_name | uppercase}} {{user.last_name | uppercase}}</mat-card-title>
			<mat-card-subtitle class="no-margin-bottom">ID:{{user.id}}</mat-card-subtitle>
        </mat-card-header>
         <img mat-card-image src="{{user.avatar}}" class="user-image">
         <mat-card-content>
			<div>
				<label>
					<span>Name:</span> <input [(ngModel)]="user.first_name" type="text" placeholder="first_Name"/>
					<span>Lastname:</span> <input [(ngModel)]="user.last_name" type="text" placeholder="last_name"/>
				</label>
			</div>
		</mat-card-content>
        <mat-card-actions class="action-buttons">
            <button mat-raised-button (click)="goBack()" class="margin-bottom-update">Go Back</button>
            <button mat-button (click)="update()">Update</button>
        </mat-card-actions>
    </mat-card>
<div *ngIf="!user">
	Upss Algo salio mal por favor intenta de nuevo
</div>
