.update{
	margin: 10px auto;
}

label {
	display: inline-block;
	width: 3em;
	margin: .5em 0;
	color: #607D8B;
	font-weight: bold;
}
input {
	height: 2em;
	font-size: 1em;
	padding-left: .4em;
}
button {
	margin-top: 20px;
	font-family: Arial;
	background-color: #eee;
	border: none;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer; cursor: hand;
}
button:hover {
	background-color: #cfd8dc;
}
button:disabled {
	background-color: #eee;
	color: #ccc;
	cursor: auto;
}
.user-image{
	background-size: cover;
	height: 30%;
	width: 30%;
	border-radius: 50%;
    flex-shrink: 0;
    margin-left: 35%;
    margin-right: 35%;
    -webkit-animation: pulse 8.5s infinite;
    -moz-animation: pulse 8.5s infinite;
    -o-animation: pulse 8.5s infinite;
    -ms-animation: pulse 8.5s infinite;
    animation: pulse 8.5s infinite;
}

@keyframes pulse {
  0% {transform: scale(1);
      -webkit-transform: scale(1);}
  2% {transform: scale(1.2);
      -webkit-transform: scale(1.2);}
  5% {transform: scale(1);
      -webkit-transform: scale(1);}
  8% {transform: scale(1.2);
      -webkit-transform: scale(1.2);}
  10% {transform: scale(1);
       -webkit-transform: scale(1);}
}

@-webkit-keyframes pulse {
  0% {transform: scale(1);
      -webkit-transform: scale(1);}
  2% {transform: scale(1.2);
      -webkit-transform: scale(1.2);}
  5% {transform: scale(1);
      -webkit-transform: scale(1);}
  8% {transform: scale(1.2);
      -webkit-transform: scale(1.2);}
  10% {transform: scale(1);
       -webkit-transform: scale(1);}
}
.card {
    width: 60%;
    margin: 10px auto;
    background-color: #b4def2ad;
    border-radius: 4%;
}

.mat-card-header {
    color: black;
    font-size: x-large;
}

label input {
	height: 28px;
    font-size: 14px;
    padding-left: 7px;
}

@media screen and ( max-width: 620px ){
	label {
		width: 90%
	}
	.mat-card-header {
		font-size: 18px;
	}
	.user-image{
		margin-bottom: 0;
    	margin-top: 0;
    	margin-left: 25%;
    	width:50%;
	}
}
